/**
* Your CSS here
**/

body{
    
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #b5f5df;
    }

h2{
    font-family: 'Amatic SC', cursive; 
    font-size: 50px;
}

.info {

    font-family: 'Give You Glory', cursive;
}

.comment{

    font-family: 'Cedarville Cursive', cursive;
    font-size: 25px;

}

.text{
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    font-weight: bold
    
}


section {
    padding: 20px;
}

.guidepod{
    background-color: pink;
}

.pod{
    font-family: 'Amatic SC', cursive;
    font-size: 100px;

}

.book{
    border:2px dotted rebeccapurple;
    background-color: aqua;
    font-weight: bold;

}

.maldives{
    color: rebeccapurple;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Pacifico', cursive;

}

.gallerywindows{
    overflow: scroll;
    width: 100%;



}
.gallery{
    display: flex;



}

.gallery img{
    flex-shrink: 0;
    margin-right: 20px

}